<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 container">
      <h3 class="text-center">Bienvenidos a CEPROCOM</h3>
      <hr>
      <p>Somos un centro generador de emprendimientos, brindamos educación de calidad, totalmente práctica,
        apoyando la creación de negocios rentables y sobre todo formando para dar soluciones a las necesidades
        actuales de nuestra población.  Para conocer más sobre CEPROCOM - Centro de Educación Productiva & Comercial,
        visitar www.facebook.com/ceprocom  (Todos los campos con * son importantes para llenado de este
        formulario antes de ser enviado).</p>

    <br>
    <!-- <img src="https://lh5.googleusercontent.com/cXUPEjH5ImWtO3t8tOL3MuPE6U6Jes4HgmcQ-1_hVY60dLe8NqbVY8-S4psTbsyCc9svZnrVfw=w3361" width="100%" height="100%"> -->
    <iframe width="100%" height="300px" src="https://www.youtube.com/embed/w2q5HgFwHD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>

    <%= render 'form', propuestum: @propuestum %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
<%= link_to 'Back', propuesta_path %>
